<div class="d-modal-wrap" id="regModal">
  <div [hidden]="switchTemp === true">
    <div class="row no-gutters">
      <div
        class="big-cell col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"
        style="margin-top: 5vh;">

        <div class="row" *ngIf="!validDetails">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h4 class="warning-cell">Some of the details you entered were incorrect. Please try again.</h4>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h3 class="header-style-font-black text-center">
              New user registration</h3>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="userName" class="c-label" [class.has-error]="userName.invalid && userName.dirty">* Your name</label>
            <input id="userName" type="text" [formControl]="userName"
                   [class.has-error]="userName.invalid && userName.dirty">
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="userEmail.invalid && userEmail.dirty">* Your email</label>
            <input type="text" [formControl]="userEmail" [class.has-error]="userEmail.invalid && userEmail.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="password1" class="c-label" [class.has-error]="pwMatcher()">*
              Password</label>
            <input id="password1" [type]="passwordInputType" [formControl]="password1"
                   [class.has-error]="pwMatcher()" (ngModelChange)="pwMatcher()">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="password2" class="c-label" [class.has-error]="pwMatcher()">* Re-type
              Password</label>
            <input id="password2" [type]="passwordInputType" [formControl]="password2"
                   [class.has-error]="pwMatcher()" (ngModelChange)="pwMatcher()">

          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="switchPasswordType()">
             <span class="glyphicon glyphicon-eye-open"></span> Show/Hide Passwords
            </button>
          </div>
        </div>


        <div class="hbar"></div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h3 class="header-style-font-black text-center">
              Please enter your details</h3>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="weight" class="c-label" [class.has-error]="startingWeight.invalid && startingWeight.dirty">*
              Your current
              weight (kg)</label>
            <input id="weight" type="number" [formControl]="startingWeight"
                   [class.has-error]="startingWeight.invalid && startingWeight.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="height" class="c-label" [class.has-error]="height.invalid && height.dirty">* Your height
              (cm)</label>
            <input id="height" type="number" [formControl]="height" [class.has-error]="height.invalid && height.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="age" class="c-label" [class.has-error]="age.invalid && age.dirty">* Your age (yrs)</label>
            <input id="age" type="number" [formControl]="age" [class.has-error]="age.invalid && age.dirty">
          </div>
        </div>

        <div class="row" style="padding-bottom: 30px;">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="toggleSwitchTemplate()">
               Next <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>




<div [hidden]="switchTemp === false">
  <div class="row no-gutters">
    <div
      class="big-cell col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"
      style="margin-top: 5vh;">

      <div class="row" *ngIf="!validDetails">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h4 class="warning-cell">Some of the details you entered were incorrect. Please try again.</h4>
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h3 class="header-style-font-black text-center">
            Your personalized tracker</h3>
        </div>
      </div>


      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="bigCrumbCustomType.invalid && bigCrumbCustomType.dirty">* The name of your 'Big Crumb', aka points to track, i.e. 'Calories', 'Syns', 'Points':</label>
          <input type="text" [formControl]="bigCrumbCustomType" [class.has-error]="bigCrumbCustomType.invalid && bigCrumbCustomType.dirty">
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="bigCrumbCustomMaxValue.invalid && bigCrumbCustomMaxValue.dirty">* Your daily maximum or target:</label>
          <input type="number" [formControl]="bigCrumbCustomMaxValue" [class.has-error]="bigCrumbCustomMaxValue.invalid && bigCrumbCustomMaxValue.dirty">
        </div>
      </div>


      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="littleCrumb1CustomType.invalid && littleCrumb1CustomType.dirty">* The name of your first 'Little Crumb', aka daily allowances to track outside of plan:</label>
          <input type="text" [formControl]="littleCrumb1CustomType" [class.has-error]="littleCrumb1CustomType.invalid && littleCrumb1CustomType.dirty">
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="littleCrumb1CustomMaxValue.invalid && littleCrumb1CustomMaxValue.dirty">* Your daily maximum or target:</label>
          <input type="text" [formControl]="littleCrumb1CustomMaxValue" [class.has-error]="littleCrumb1CustomMaxValue.invalid && littleCrumb1CustomMaxValue.dirty">
        </div>
      </div>


      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="littleCrumb2CustomType.invalid && littleCrumb2CustomType.dirty">* The name of your second 'Little Crumb', aka daily allowances to track outside of plan:</label>
          <input type="text" [formControl]="littleCrumb2CustomType" [class.has-error]="littleCrumb2CustomType.invalid && littleCrumb2CustomType.dirty">
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="littleCrumb2CustomMaxValue.invalid && littleCrumb2CustomMaxValue.dirty">* Your daily maximum or target:</label>
          <input type="text" [formControl]="littleCrumb2CustomMaxValue" [class.has-error]="littleCrumb2CustomMaxValue.invalid && littleCrumb2CustomMaxValue.dirty">
        </div>
      </div>

      <div class="hbar"></div>

      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h4 class="header-style-font-black text-center">
            Want to track moe stuff? Like water intake or daily steps? We've got you covered.</h4>
        </div>
      </div>


      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="toggleCrumb3()">
            <span class="glyphicon glyphicon-edit"></span> Toggle third 'Little Crumb'.
          </button>
        </div>
      </div>
      <div [hidden]="!crumb3Toggle">

      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <label class="c-label" [class.has-error]="littleCrumb3CustomType.invalid && littleCrumb3CustomType.dirty">* Your custom tracker name:</label>
          <input type="text" [formControl]="littleCrumb3CustomType" [class.has-error]="littleCrumb3CustomType.invalid && littleCrumb3CustomType.dirty">
        </div>
      </div>
        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="littleCrumb3CustomMaxValue.invalid && littleCrumb3CustomMaxValue.dirty">* Your daily maximum or target:</label>
            <input type="text" [formControl]="littleCrumb3CustomMaxValue" [class.has-error]="littleCrumb3CustomMaxValue.invalid && littleCrumb3CustomMaxValue.dirty">
          </div>
        </div>
      </div>


      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="toggleCrumb4()">
            <span class="glyphicon glyphicon-edit"></span> Toggle fourth 'Little Crumb'.
          </button>
        </div>
      </div>
      <div [hidden]="!crumb4Toggle">
        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="littleCrumb4CustomType.invalid && littleCrumb4CustomType.dirty">* Your custom tracker name:</label>
            <input type="text" [formControl]="littleCrumb4CustomType" [class.has-error]="littleCrumb4CustomType.invalid && littleCrumb4CustomType.dirty">
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="littleCrumb4CustomMaxValue.invalid && littleCrumb4CustomMaxValue.dirty">* Your daily maximum or target:</label>
            <input type="text" [formControl]="littleCrumb4CustomMaxValue" [class.has-error]="littleCrumb4CustomMaxValue.invalid && littleCrumb4CustomMaxValue.dirty">
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="toggleCrumb5()">
            <span class="glyphicon glyphicon-edit"></span> Toggle fifth 'Little Crumb'.
          </button>
        </div>
      </div>
      <div [hidden]="!crumb5Toggle">
        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="littleCrumb5CustomType.invalid && littleCrumb5CustomType.dirty">* Your custom tracker name:</label>
            <input type="text" [formControl]="littleCrumb5CustomType" [class.has-error]="littleCrumb5CustomType.invalid && littleCrumb5CustomType.dirty">
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="littleCrumb5CustomMaxValue.invalid && littleCrumb5CustomMaxValue.dirty">* Your daily maximum or target:</label>
            <input type="text" [formControl]="littleCrumb5CustomMaxValue" [class.has-error]="littleCrumb5CustomMaxValue.invalid && littleCrumb5CustomMaxValue.dirty">
          </div>
        </div>
      </div>

      <div class="hbar"></div>


      <div class="row" style="padding-bottom: 30px;">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class="row">
          <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="toggleSwitchTemplate()">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
        </div>
        <div class="row">
          <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="register()" [disabled]="!validator()">
            <span class="glyphicon glyphicon-check"></span> Complete Registration
          </button>
      </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
