<div class="c-modal-wrap">

  <div [hidden]="switchTemp === false">
    <div class="row no-gutters">
      <div
        class="big-cell col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"
        style="margin-top: 10vh;">

        <div class="row" *ngIf="!validDetails">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h4 class="warning-cell">Some of the details you entered were incorrect. Please try again.</h4>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <h3 class="header-style-font-black text-center">
              New user registration</h3>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h5 class="has-warning"><strong>
            <span> IMPORTANT MESSAGE: <br>
            Hello, and welcome to Crumbs, the premier diet-intake and caloric/point control portal.<br>
              Before you continue with your registration please note that currently Crumbs has a <u>minimal level of database and user account security</u>.
            Building a service as complex and deep as Crumbs requires a lot of work, and we're a very small team.
            As such we at Crumbs aren't going to be asking you for important, or sensitive data. We ask for your email merely as a user login, and we don't
            confirm registration via said e-mail, so you don't necessarily need to set it as an e-mail that you would use normally. We'll be using it as a password reset, that's it.<br><br>
              <em>As such we HIGHLY RECOMMEND you do NOT use the password FOR THE EMAIL ADDRESS YOU'RE USING as you use to LOG INTO SAID E-MAIL ADDRESS.</em><br><br>
              <em>The Crumbs team CANNOT and WILL NOT be responsible for any data-breaches suffered as a result of user neglect.</em><br><br>
              Thank you. - Crumbs Team.
          </span></strong>
            </h5>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label class="c-label" [class.has-error]="userEmail.invalid && userEmail.dirty">* Your email</label>
            <input type="text" [formControl]="userEmail" [class.has-error]="userEmail.invalid && userEmail.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="password1" class="c-label" [class.has-error]="password1.invalid && password1.dirty">*
              Password</label>
            <input id="password1" type="password" [formControl]="password1"
                   [class.has-error]="password1.invalid && password1.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="password2" class="c-label" [class.has-error]="password2.invalid && password2.dirty">* Re-type
              Password</label>
            <input id="password2" type="password" [formControl]="password2"
                   [class.has-error]="password2.invalid && password2.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="firstname" class="c-label" [class.has-error]="firstName.invalid && firstName.dirty">* First
              Name</label>
            <input id="firstname" type="text" [formControl]="firstName"
                   [class.has-error]="firstName.invalid && firstName.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="lastname" class="c-label">Last Name</label>
            <input id="lastname" type="text" [formControl]="lastName">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="username" class="c-label" [class.has-error]="userName.invalid && userName.dirty">*
              Username</label>
            <input id="username" type="text" [formControl]="userName"
                   [class.has-error]="userName.invalid && userName.dirty">
          </div>
        </div>

        <div class="hbar"></div>

        <div class="row">
          <div
            class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <h3 class="header-style-font-black text-center">
              Please enter your details</h3>
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="weight" class="c-label" [class.has-error]="startingWeight.invalid && startingWeight.dirty">*
              Your current
              weight (kg)</label>
            <input id="weight" type="number" [formControl]="startingWeight"
                   [class.has-error]="startingWeight.invalid && startingWeight.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="height" class="c-label" [class.has-error]="height.invalid && height.dirty">* Your height
              (cm)</label>
            <input id="height" type="number" [formControl]="height" [class.has-error]="height.invalid && height.dirty">
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="age" class="c-label" [class.has-error]="age.invalid && age.dirty">* Your age (yrs)</label>
            <input id="age" type="number" [formControl]="age" [class.has-error]="age.invalid && age.dirty">
          </div>
        </div>

        <div class="row" style="padding-bottom: 30px;">
          <div
            class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <button class="btn btn-state-green btn-block" style="margin: 5px; padding: 5px;" (click)="logger()">
              <span class="glyphicon glyphicon-check"></span> Next
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
