<div class="container-fluid background-gradient" style="padding-top: 70px;">
  <div
    class="big-cell col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"
         style="padding-bottom: 20px; padding-top: 20px;">
      <div class="row no-gutters">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block text-center">
          <span class="header-style-font-black" style="font-size: 3rem;">User Profile</span>
        </div>
      </div>
      <div class="hbar"></div>

      <div class="pull-left col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
        <div class="row">User Name:</div>
        <div class="row text-center orange-text" style="font-weight: 900;"> {{userDetails.userName}}</div>
      </div>
      <div class="pull-left col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
        <div class="row">User Email:</div>
        <div class="row text-center orange-text" style="font-weight: 900;"> {{userDetails.email}}</div>
      </div>
      <div class="pull-left col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
        <div class="row">User Height:</div>
        <div class="row text-center orange-text" style="font-weight: 900;"> {{userDetails.height}}</div>
      </div>
      <div class="pull-left col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
        <div class="row">User Starting Weight:</div>
        <div class="row text-center orange-text" style="font-weight: 900;"> {{userDetails.startingWeight}}</div>
      </div>
      <div class="pull-left col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
        <div class="row">User Current Weight:</div>
        <div class="row text-center orange-text" style="font-weight: 900;"> {{userDetails.currentWeight}}</div>
      </div>
      <div class="pull-left col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 20px;">
        <div class="row">User Age:</div>
        <div class="row text-center orange-text" style="font-weight: 900;"> {{userDetails.age}}</div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
