<!--The content below is only a placeholder and can be replaced.-->
<div class="deskmenu">
  <div class="navbar navbar-fixed-top nav-style">
    <nav>
      <div class="col-md-10 col-md-offset-1"><h4 class="pull-left">
        <a [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span> Home</a> -
        <a [routerLink]="['/diet-log', userState.DATA_ID]"><span class="glyphicon glyphicon-book"></span> Diet Log</a> -
        <a [routerLink]="['/diet-statistics', userState.DATA_ID]"><span class="glyphicon glyphicon-stats"></span> Diet Stats</a>
      </h4>

        <h4 class="pull-right">
          <a [routerLink]="['/user-account', userState.DATA_ID]"><span class="glyphicon glyphicon-user"></span> Manage Account</a> -
          <a routerLink="/crumble-system-administrator-login"><span class="glyphicon glyphicon-off"></span> Admin
            Login</a></h4>
      </div>
    </nav>
  </div>
</div>
<div class="mobmenu">
  <div class="navbar navbar-fixed-top nav-style">
    <nav>
<div class="col-xs-6">
  <a href="#" (click)="toggleNav()"><h3> <span class="glyphicon glyphicon-menu-hamburger"></span> Menu</h3>
  </a>
</div>
      <div class="col-xs-6"><h3><img src="../assets/images/crumbs_logo_black.png" class="img-responsive"></h3></div>
      <div *ngIf="navStatus">
      <div class="col-md-10 col-md-offset-1"><h3 class="pull-left">
        <a [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span> Home</a> <br>
        <a [routerLink]="['/diet-log', userState.DATA_ID]"><span class="glyphicon glyphicon-book"></span> Diet Log</a> <br>
        <a [routerLink]="['/diet-statistics', userState.DATA_ID]"><span class="glyphicon glyphicon-stats"></span> Diet Stats</a><br><br>
          <a [routerLink]="['/user-account', userState.DATA_ID]"><span class="glyphicon glyphicon-user"></span> Manage Account</a> <br>
          <a routerLink="/crumble-system-administrator-login"><span class="glyphicon glyphicon-off"></span> Admin
            Login</a></h3>
      </div></div>


      <!--<div class="dropdown-menu" aria-labelledby="dropDown"></div>-->
      <!--<a routerLink="/home" class="dropdown-item"><span class="glyphicon glyphicon-home"></span> Home</a> - -->
      <!--<a routerLink="/dashboard" class="dropdown-item"><span class="glyphicon glyphicon-tasks"></span> Dashboard</a> - -->
      <!--<a routerLink="/diet-log" class="dropdown-item"><span class="glyphicon glyphicon-book"></span> Diet Log</a> - -->
      <!--<a routerLink="/diet-statistics" class="dropdown-item"><span class="glyphicon glyphicon-stats"></span> Diet Stats</a>-->

      <!--<a routerLink="/user-account" class="dropdown-item"><span class="glyphicon glyphicon-user"></span> Manage Account</a>-->
      <!-- - -->
      <!--<a routerLink="/crumble-system-administrator-login" class="dropdown-item"><span-->
        <!--class="glyphicon glyphicon-off"></span> Admin-->
        <!--Login</a>-->

    </nav>
  </div>
</div>


<div class="container-fluid background-gradient" style="padding-top: 70px;">

  <div class="col-md-2 col-md-offset-1 col-xs-12 col-sm-12 text-center ringroad deskmenu" style="padding: 2rem;">
    <img src="../assets/images/crumbs_logo.png" class="img-responsive center-block">
  </div>
  <app-dashboard
  [dataId]="userState.DATA_ID"
  ></app-dashboard>
  <div
    class="big-cell col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
    <div class="row no-gutters">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
