
<!--<div [hidden]="session.getUserPresentStatus() !== true">-->
<div>
  <div class="deskmenu">
    <div class="navbar navbar-fixed-top nav-style">
      <nav>
        <div class="col-md-10 col-md-offset-1"><h4 class="pull-left">
          <a [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span> Home</a> -
          <a [routerLink]="['/diet-log']"><span class="glyphicon glyphicon-book"></span> Diet Log</a>
          -
          <a [routerLink]="['/diet-statistics']"><span class="glyphicon glyphicon-stats"></span> Diet
            Stats</a>
        </h4>

          <h4 class="pull-right">
            <span *ngIf="!http.isLoggedIn()"><a [routerLink]="['/']"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></span>
            <span *ngIf="http.isLoggedIn()"><a [routerLink]="['/profile']"><span
              class="glyphicon glyphicon-user"></span> {{ session.getDetailsUserName() }}</a> - </span>
            <span *ngIf="http.isLoggedIn()"><a (click)="http.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></span>
          </h4>
        </div>
      </nav>
    </div>
  </div>
  <div class="mobmenu">
    <div class="navbar navbar-fixed-top nav-style">
      <nav>
        <div class="col-xs-8">
          <a href="#" (click)="toggleNav()"><h3><span class="glyphicon glyphicon-menu-hamburger"></span> Menu</h3>
          </a>
        </div>
        <div class="col-xs-4"><h3><img src="../assets/images/crumbs_logo_black.png" class="img-responsive"></h3></div>
        <div *ngIf="navStatus">
          <div class="col-md-10 col-md-offset-1"><h3 class="pull-left">
            <a [routerLink]="['/home']" (click)="toggleNav()"><span class="glyphicon glyphicon-home"></span> Home</a>
            <br>
            <a [routerLink]="['/diet-log']" (click)="toggleNav()"><span class="glyphicon glyphicon-book"></span> Diet
              Log</a> <br>
            <a [routerLink]="['/diet-statistics']" (click)="toggleNav()"><span class="glyphicon glyphicon-stats"></span>
              Diet Stats</a><br><br>
            <span *ngIf="!http.isLoggedIn()"><a [routerLink]="['/']" (click)="toggleNav()"><span
              class="glyphicon glyphicon-log-in"></span> Sign in</a><br></span>
            <span *ngIf="http.isLoggedIn()"><a [routerLink]="['/profile']" (click)="toggleNav()"><span
              class="glyphicon glyphicon-user"></span> {{ session.getDetailsUserName() }}</a><br></span>
            <span *ngIf="http.isLoggedIn()"><a href="#" (click)="logOut()"><span class="glyphicon glyphicon-off"></span> Logout</a></span>
          </h3>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
