<div [ngSwitch]="windowDesktop" (window:resize)="resizerCheck($event)">
  <div *ngSwitchDefault>
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 ringroad"
    >
      <div class="row no-gutters">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-3 col-sm-12 center-block text-center" id="littleCrumb1" #littleCrumb>
          <circle-progress
            [percent]="calculatorFunc()"
            [radius]="100"
            [outerStrokeWidth]="10"
            [showBackground]="true"
            [backgroundStroke]="'#000'"
            [backgroundColor]="'#fff'"
            [outerStrokeColor]="'#549500'"
            [animation]="true"
            [units]="totalSyns + ' / ' + userSyns"
            [showUnits]="true"
            [animationDuration]="500"
            [responsive]="true"
            [toFixed]="0"
            [title]="dietDeficitType"
            [unitsColor]="'#000'"
            [titleColor]="'#000'"
            [animateTitle]="true"
          ></circle-progress>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12 center-block text-center" id="outerDashContainer" #bigCrumb>

          <circle-progress
            [percent]="calculatorFunc()"
            [radius]="100"
            [outerStrokeWidth]="10"
            [showBackground]="true"
            [backgroundStroke]="'#000'"
            [backgroundColor]="'#fff'"
            [outerStrokeColor]="'#549500'"
            [animation]="true"
            [units]="totalSyns + ' / ' + userSyns"
            [showUnits]="true"
            [animationDuration]="500"
            [responsive]="true"
            [toFixed]="0"
            [title]="dietDeficitType"
            [unitsColor]="'#000'"
            [titleColor]="'#000'"
            [animateTitle]="true"
          ></circle-progress>
        </div>
        <div class="col-md-3 col-sm-12 center-block text-center" id="littleCrumb2">
          <circle-progress
            [percent]="calculatorFunc()"
            [radius]="100"
            [outerStrokeWidth]="10"
            [showBackground]="true"
            [backgroundStroke]="'#000'"
            [backgroundColor]="'#fff'"
            [outerStrokeColor]="'#549500'"
            [animation]="true"
            [units]="totalSyns + ' / ' + userSyns"
            [showUnits]="true"
            [animationDuration]="500"
            [responsive]="true"
            [toFixed]="0"
            [title]="dietDeficitType"
            [unitsColor]="'#000'"
            [titleColor]="'#000'"
            [animateTitle]="true"
          ></circle-progress>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-3 col-sm-12 center-block text-center">
          <button class="btn btn-state-green" style="padding: 5px"><span class="glyphicon glyphicon-plus-sign"></span> Add
            {{dietDeficitType}}
          </button>
          <button class="btn btn-state-rust" style="padding: 5px"><span class="glyphicon glyphicon-minus-sign"></span> Take
            {{dietDeficitType}}
          </button>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12 center-block text-center white-text">
          <button class="btn btn-state-green" style="padding: 5px"><span class="glyphicon glyphicon-plus-sign"></span> Add
            {{dietDeficitType}}
          </button>
          <button class="btn btn-state-rust" style="padding: 5px"><span class="glyphicon glyphicon-minus-sign"></span> Take
            {{dietDeficitType}}
          </button>
        </div>
        <div class="col-md-3 col-sm-12 center-block text-center white-text">
          <button class="btn btn-state-green" style="padding: 5px"><span class="glyphicon glyphicon-plus-sign"></span> Add
            {{dietDeficitType}}
          </button>
          <button class="btn btn-state-rust" style="padding: 5px"><span class="glyphicon glyphicon-minus-sign"></span> Take
            {{dietDeficitType}}
          </button>
        </div>
      </div>
    </div>
    <input type="text" [(ngModel)]="userSyns" (ngModelChange)="calculatorFunc()">
  </div>




  <div *ngSwitchCase="false">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 ringroad">
      <div class="row no-gutters">
        <div class="col-sm-12 text-center">
          <circle-progress
            [percent]="calculatorFunc()"
            [radius]="100"
            [outerStrokeWidth]="10"
            [showBackground]="true"
            [backgroundStroke]="'#000'"
            [backgroundColor]="'#fff'"
            [outerStrokeColor]="'#549500'"
            [animation]="true"
            [units]="totalSyns + ' / ' + userSyns"
            [showUnits]="true"
            [animationDuration]="500"
            [responsive]="true"
            [toFixed]="0"
            [title]="dietDeficitType"
            [unitsColor]="'#000'"
            [titleColor]="'#000'"
            [animateTitle]="true"
          ></circle-progress>
        </div>
        <div class="col-xs-6 text-center">
          <circle-progress
            [percent]="calculatorFunc()"
            [radius]="100"
            [outerStrokeWidth]="10"
            [showBackground]="true"
            [backgroundStroke]="'#000'"
            [backgroundColor]="'#fff'"
            [outerStrokeColor]="'#549500'"
            [animation]="true"
            [units]="totalSyns + ' / ' + userSyns"
            [showUnits]="true"
            [animationDuration]="500"
            [responsive]="true"
            [toFixed]="0"
            [title]="dietDeficitType"
            [unitsColor]="'#000'"
            [titleColor]="'#000'"
            [animateTitle]="true"
          ></circle-progress>
        </div>

        <div class="col-xs-6 text-center">
          <circle-progress
            [percent]="calculatorFunc()"
            [radius]="100"
            [outerStrokeWidth]="10"
            [showBackground]="true"
            [backgroundStroke]="'#000'"
            [backgroundColor]="'#fff'"
            [outerStrokeColor]="'#549500'"
            [animation]="true"
            [units]="totalSyns + ' / ' + userSyns"
            [showUnits]="true"
            [animationDuration]="500"
            [responsive]="true"
            [toFixed]="0"
            [title]="dietDeficitType"
            [unitsColor]="'#000'"
            [titleColor]="'#000'"
            [animateTitle]="true"
          ></circle-progress>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-3 col-sm-12 center-block text-center">
          <button class="btn btn-state-green" style="padding: 5px"><span class="glyphicon glyphicon-plus-sign"></span> Add
            {{dietDeficitType}}
          </button>
          <button class="btn btn-state-rust" style="padding: 5px"><span class="glyphicon glyphicon-minus-sign"></span> Take
            {{dietDeficitType}}
          </button>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12 center-block text-center white-text">
          <button class="btn btn-state-green" style="padding: 5px"><span class="glyphicon glyphicon-plus-sign"></span> Add
            {{dietDeficitType}}
          </button>
          <button class="btn btn-state-rust" style="padding: 5px"><span class="glyphicon glyphicon-minus-sign"></span> Take
            {{dietDeficitType}}
          </button>
        </div>
        <div class="col-md-3 col-sm-12 center-block text-center white-text">
          <button class="btn btn-state-green" style="padding: 5px"><span class="glyphicon glyphicon-plus-sign"></span> Add
            {{dietDeficitType}}
          </button>
          <button class="btn btn-state-rust" style="padding: 5px"><span class="glyphicon glyphicon-minus-sign"></span> Take
            {{dietDeficitType}}
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>

