<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 ringroad"  id="outerDashContainer" >
  <div class="col-md-1 col-sm-0"></div>

  <div class="col-md-3 col-sm-12 center-block text-center" id="littleCrumb">
    <circle-progress
      [percent]="calculatorFunc()"
      [radius]="100"
      [outerStrokeWidth]="9"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#eaafc8'"
      [animation]="true"
      [units]="totalSyns + ' / ' + userSyns"
      [showUnits]="true"
      [animationDuration]="500"
      [responsive]="true"
      [toFixed]="0"
      [title]="dietDeficitType"
      [showBackground]="false"
      [unitsColor]="'#FFFFFF'"
      [titleColor]="'#FFFFFF'"
      [animateTitle]="true"
      [animateSubtitle]="true"
    ></circle-progress>
  </div>

  <div class="col-md-4 col-md-offset-1 col-sm-12 center-block text-center">
    <circle-progress
      [percent]="calculatorFunc()"
      [radius]="100"
      [outerStrokeWidth]="9"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#eaafc8'"
      [animation]="true"
      [units]="totalSyns + ' / ' + userSyns"
      [showUnits]="true"
      [animationDuration]="500"
      [responsive]="true"
      [toFixed]="0"
      [title]="dietDeficitType"
      [showBackground]="false"
      [unitsColor]="'#FFFFFF'"
      [titleColor]="'#FFFFFF'"
      [animateTitle]="true"
      [animateSubtitle]="true"
    ></circle-progress>
    <input type="text" [(ngModel)]="userSyns" (ngModelChange)="calculatorFunc()">
  </div>
  <div class="col-md-3 col-sm-12 center-block text-center">
    <circle-progress
      [percent]="calculatorFunc()"
      [radius]="100"
      [outerStrokeWidth]="9"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#ffffff'"
      [innerStrokeColor]="'#eaafc8'"
      [animation]="true"
      [units]="totalSyns + ' / ' + userSyns"
      [showUnits]="true"
      [animationDuration]="500"
      [responsive]="true"
      [toFixed]="0"
      [title]="dietDeficitType"
      [showBackground]="false"
      [unitsColor]="'#FFFFFF'"
      [titleColor]="'#FFFFFF'"
      [animateTitle]="true"
      [animateSubtitle]="true"
    ></circle-progress>
  </div>
</div>
