
body {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100;
  font-size: 1.8rem;
  background-color: #281914;
}

input[type=button], input[type=submit], input[type=reset] {
  outline: none;
}

input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus {
  outline: none;
}

input[type=text] {
  width: 100%;
  color: #cccccc;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  /*border-right: 0px;*/
  /*border-left: 0px;*/
  /*border-top: 0px;*/
  -webkit-transition: border 0.4s ease-in-out;
  transition: border 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  border-radius: 5px;
}

input[type=text]:focus {
  width: 100%;
  color: #f86f06;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #f86f06;
  outline: none;
  border-radius: 5px;
}

input[type=password] {
  width: 100%;
  color: #cccccc;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  /*border-right: 0px;*/
  /*border-left: 0px;*/
  /*border-top: 0px;*/
  -webkit-transition: border 0.4s ease-in-out;
  transition: border 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  border-radius: 5px;
}

input[type=password]:focus {
  width: 100%;
  color: #f86f06;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #f86f06;
  outline: none;
  border-radius: 5px;
}

.hbar {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 1px;
  background-color: #f86f06;
  margin-top: 30px;
  margin-bottom: 20px;
}

.white-text {
  color: #FFF;
}

.green-text {
  color: #549500;
}

.orange-text {
  color: #f86f06;
}

a:link, a:visited {
  color: #111;
  text-decoration: #111;
  text-decoration-line: none;
}

a:hover, a:active {
  color: #f86f06;
  text-decoration-line: none;
}

.header-style-font {
  font-family: 'Indie Flower', Serif !important;
  font-weight: 100;
}

.header-style-font-black {
  font-family: 'Indie Flower', Serif !important;
  font-weight: 100;
  color: #000;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.ringroad {
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
  background-image: url("assets/images/dot.png");
  background-repeat: repeat;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.background-gradient {
  min-height: 100vh;
  min-width: 100%;
  background-image: url("assets/images/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.pull-bottom {
  ertical-align: bottom;
}

.nav-style {
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.big-cell {
  background: linear-gradient(to bottom right, #ece9e6, #ffffff);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  display: block;
  overflow: visible;
}

.warning-cell {
  background-color: #f8f3f1;
  color: #da000e;
  border: 2px solid #da000e;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.btn-state-green {
  background-color: #FFF;
  font-weight: 100;
  color: #549500;
  font-size: 1.6rem;
  outline: none;
}

.btn-state-rust {
  background-color: #FFF;
  font-weight: 100;
  color: #f86f06;
  font-size: 1.6rem;
  outline: none;
}

.btn-custom {
  padding: 5px;
  outline: none;
}

.c-modal-wrap {
  position: fixed;
  z-index: 998;
  background-image: url("assets/images/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 100vw;
  height: 100vh;
}

.mobmenu {
  display: none;
}

.deskmenu {
  display: block;
}

@media (max-width: 999px) {
  .mobmenu {
    display: block;
  }

  .deskmenu {
    display: none;
  }
}
